.auth{
    
    color: rgb(85, 86, 170);
    font-size: medium;
}
.hide{
    display:none;
}
.show{
    display:block;
}

.symLeft{
    background-color: transparent;
    padding: 0;
}
.symRigth{
    background-color: transparent;
    padding: 0;
}
.padding-xs{
    padding: 5px 0 0 15px;
}
.p-l-xs{
    padding-left: 5px;
}
.gray{
    color:gray;
}
.no-margin{
    margin:0;
}
 label:hover{
     color:aquamarine; 
     font-style: italic

    
} 

